<div class='profile'>
  <section class='profile_head'>
    <img class='profile_image' src='{{gullInfo.image_url}}'>
    <h1>{{gullInfo.name}}</h1>
  </section>
  <section class='profile_body'>
    <ul class='profile-list'>
      <li>Seasons Lived: {{gullInfo.seasons_lived}}</li>
      <li>Breed: {{gullInfo.breed}}</li>
      <li>Fish or Chips: {{gullInfo.fish_chips}}</li>
      <li>Wingspan: {{gullInfo.wingspan}}</li>
      <li>Kleptoparasitism: {{gullInfo.klepto}}</li>
      <li>Celebrity Lookalike: {{gullInfo.celebrity_lookalike}}</li>
      <li>Gullibility: {{gullInfo.gullibility}}</li>
      <li>Interesting Fact: {{gullInfo.fact}}</li>
      <li>Quote: {{gullInfo.quote}}</li>
    </ul>
  </section>
</div>
